@font-face {
    src: url('fonts/SFUIText-Regular.ttf') format('truetype');
}

body {
    font-family: 'Georgia', serif;
}

p {
    line-height: 2;
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, h3, h5, h6 {
    font-family: 'Averia Serif Libre';
    color: #4F814B;
}



.images {
    width: 100%;
    margin: 10px 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}


/* Front Page */
#frontpage {
    padding: 5px 10px 20px 10px;
}

.navbar-btn {
  background-color: #345B31;
  border-color: #58bc54;
    font-family: 'Arial';
}

.navbar{
    background-color: #e8ccac;
}

.navbar-item {
    text-align: center;
}

.divider{
    border-top: 4px solid;
}

#navbar-divider {
    width: 95%;
}

.small-divider{
    border-top: 3px solid;
    width: 45%;
    margin: 5px auto;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}


/* Welcome */
#welcome {
    padding: 20px 10px;
    text-align: center;
}


/* About Us */ 
#about-us {
    padding: 20px 10px;
    background-color: #232D11;
    color: #E7C9A9;
    text-align: center;
}

#about-us h2 {
    color: #E7C9A9;
}

.about-paragraphs {
    margin: 30px 0;
}


/* Image Gallery */
#root-image-gallery {
    padding: 30px 10px 20px 10px;
}

.carousel-indicators, .carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

.image-gallery-indicator-active, image-gallery-indicator-inactive{
    filter: brightness(100%);
}

/* Feature disabled for now because I can't javascript ;) */
/* .image-gallery-indicator-inactive {
    filter: brightness(50%);
} */

.image-gallery-indicators {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-top: 10%;
}

.image-gallery-indicator-active, .image-gallery-indicator-inactive {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

/* 3D View / SH3D */
#viewerCanvas {
    width: 100%;
}

#levelsAndCameras {
    text-align: center;
    width: auto;
}

label, select {
    font-family: 'Arial';
}



/* Specialities */
#specialties {
    padding: 20px 10px;
    background-color: #232D11;
    color: #FFFFFF;
    font-style: italic;
}

.specialties-btn{
    background-color: #E7C9A9;
    font-family: 'Arial'; 
}

#specialties p {
    line-height: 1.5;
}

#specialties h5 {
    color: white;
}

#world-breakfast, #five-breakfast, #exceptional-breakfast {
    margin: 20px 0;
}

#exceptional-breakfast-description{
    text-align: left;
    font-family: 'Arial';
    font-style: normal;
}

#five-breakfast-description{
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
}

#world-breakfast-description{
    text-align: justify;
    font-family: 'Arial';
    font-style: normal;
}

#specialties img {
    margin: 10px 0;
}

#world-breakfast .text-center, #five-breakfast .text-center, #exceptional-breakfast .text-center {
    padding: 0;
}



/* Copyright */
#copyright {
    padding: 20px 10px;
}

#tcl-logo {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

#copyright div {
    text-align
}


/* Footer */
#footer {
    text-align: center;
    padding: 20px 10px;
    background-color: #232D11;
    color: white;
}

#branch-1, #branch-2 {
    font-size: larger;
}